*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.container{
    display: flex;
    width: 100%;
    height: 100%;
}



.form-description{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    background: chocolate;
    height: 100vh;
    color: #fff;
}

.form-description img{
    border-radius: 50%;
    max-width: 100%;
    height: 70%;
}

.form-description p{
    display: flex;
    justify-content: center;
    width: 70%;
    align-items: center;
    text-align: center;
    text-indent: -10px;
}

.form-inputs{
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 50%;
}

.form-inputs h1{
    color: chocolate;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 1.5rem;
}

#form{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#form h3{
    font-style: 1.5rem;
    font-weight: 700;
}

.fields{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    width: 80%;
}

.fields input{
    margin-top: 20px;
    padding: 10px;
    width: 80%;
    font-size: 1rem;
    font-weight: 500;
    outline: none;
    border: none;
    background: #aabfc5;
}

.fields input::placeholder{
    color: #2182a0;
    font-weight: 700;
}

#form p{
    display: flex;
    margin-top: 20px;
    align-items: center;
    color: #2182a0;
    font-weight: 700;
}

#reset{
    margin-top: 20px;
    display: flex;
    color: #2182a0;
    font-weight: 700;
}

#form button{
    padding: 10px;
    margin-top: 20px;
    color: #fff;
    background:  #2182a0;
    font-weight: 700;
    border: none;
    border-radius: 50px;
    width: 20%;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
}

#account{
    margin-top: 20px;
    color: #2182a0;
    font-weight: 700;
}

#message{
    margin-top: 5px;
    color: red;
}

@media(max-width: 320px){
    .container{
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
    }

    .form-description{
        width: 100%;
        height: 100vh;
    }

    .form-inputs{
        width: 100%;
    }

    #form{
        width: 100%;
    }

    #form button{
        width: 40%;
    }
}


/* medium */
@media (min-width: 321px) and (max-width: 480px){
    .container{
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
    }

    .form-description{
        width: 100%;
        height: 100vh;
    }

    .form-inputs{
        width: 100%;
    }

    #form{
        width: 100%;
    }

    #form button{
        width: 40%;
    }
}



/* tablets */
@media (min-width: 481px) and (max-width: 768px){
    .container{
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
    }

    .form-description{
        width: 100%;
        height: 100vh;
    }

    .form-inputs{
        width: 100%;
    }

    #form{
        width: 100%;
    }

    #form button{
        width: 40%;
    }
}

@media (min-width: 769px){
    .container{
        display: flex;
        width: 100%;
        height: 100%;
    }

    .form-description{
        width: 100%;
        height: 100vh;
    }

    .form-inputs{
        width: 100%;
    }

    #form{
        width: 100%;
    }

    #form button{
        width: 40%;
    }
}



